name: Deploy to Server

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          port: ${{ secrets.SSH_PORT }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
script: |
  echo "Current directory: $(pwd)"
  echo "DEPLOY_PATH value: ${{ secrets.DEPLOY_PATH }}"
  echo "Home: $HOME"
  cd ${{ secrets.DEPLOY_PATH }} && pwd